{% extends "pathoapp/base.html" %}
    {% load static %}
{% block content %}
<div class="container" style = "margin-top:50px">
<h2 class="text-center">Contact Us</h2>
<br><br>
<div class="row mt-5 text-center">
    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-phone"></i> Contact<h4>
            <P class="mt-3 font-weight-bold"><a class= "text-danger" href ="tel:+91 9406122330">+91 9406122330</a></P>

    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-envelope"></i> Send Email<h4>
            <P class="mt-3 font-weight-bold"><a class= "text-danger" href ="mailto:poojalakhotia@gmail.com">poojalakhotia@gmail.com</a></P>

    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-address-card"></i> Office Address<h4>
            <P class="mt-3 font-weight-bold"><a class= "text-danger" href="http://maps.google.com/maps?q=C-3+Rishabh Green City+Pulgaon+Durg">C-3 RGC Pulgaon Durg</a></P>

    </div>

    <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-address-card"></i> Office Hours<h4>
            <P class="mt-3 font-weight-bold text-danger">10:00 AM to 3:00 PM</P>

    </div>

</div>
</div>    
{% endblock %}